<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CanyonBomber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A4241DA1E3074D500C268E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4241EE1E3074D600C268E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4241F91E3074D600C268E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
